<!DOCTYPE html>
<html>
<head>
  <title>Appacademy</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render 'layouts/header' unless @disable_nav %>

<div class="main-content container-fluid">
	<div class="wrapper">
		<%= yield %>
	</div>
</div>

<%= render 'layouts/footer' unless @disable_nav %>

</body>
</html>
